@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
font-family: var(--font-sans);
}

.font-serif {
  font-family: var(--font-serif);
}